In [2]:
import pandas as pd

In [3]:
df_2015 = pd.read_csv('C:\Athira\Projects\Tableau\Happinness_index_2015.csv')
df_2016 = pd.read_csv('C:\Athira\Projects\Tableau\Happiness_index_2016.csv')
df_2017 = pd.read_csv('C:\Athira\Projects\Tableau\Happiness_index_2017.csv')
df_2018 = pd.read_csv('C:\Athira\Projects\Tableau\Happiness_index_2018.csv')
df_2019 = pd.read_csv('C:\Athira\Projects\Tableau\Happiness_index_2019.csv')
df_2020 = pd.read_csv('C:\Athira\Projects\Tableau\Happiness_index_2020.csv')

In [4]:
df_2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

Getting required dataset by dropping irrelevant columns and renaming other columns for convenience.

In [5]:
df_2020=df_2020.drop(['Standard error of ladder score','upperwhisker','lowerwhisker',
                      'Logged GDP per capita','Social support','Healthy life expectancy',
                      'Freedom to make life choices','Generosity','Perceptions of corruption',
                      'Ladder score in Dystopia'],axis=1)

Rank_list= list(range(1,154))

df_2020['Rank']=Rank_list
df_2020.columns=['Country','Region','Score','GDP','Family','Health','Freedom',
                 'Generosity','Trust','Dystopia Residual','Rank']

df_2020['Year']=2020
df_2020=df_2020[["Country","Region","Rank","Score","GDP","Family","Health",
                 "Freedom","Trust","Generosity","Dystopia Residual","Year"]]
df_2020.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Finland,Western Europe,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835,2020
1,Denmark,Western Europe,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741,2020
2,Switzerland,Western Europe,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267,2020
3,Iceland,Western Europe,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688,2020
4,Norway,Western Europe,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266,2020

In [6]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [7]:
df_2015=df_2015.drop(['Standard Error'],axis=1)
df_2015.columns=['Country','Region','Rank','Score','GDP','Family','Health','Freedom','Trust','Generosity','Dystopia Residual']
df_2015['Year']=2015
df_2015.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [8]:
df_2016=df_2016.drop(['Lower Confidence Interval','Upper Confidence Interval'],axis=1)
df_2016.columns=['Country','Region','Rank','Score','GDP','Family','Health','Freedom','Trust',
                 'Generosity','Dystopia Residual','Year']
df_2016.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016

In [9]:
df_2017=df_2017.drop(['Whisker.high','Whisker.low'],axis=1)
df_2017.columns=['Country','Rank','Score','GDP','Family','Health',
                 'Freedom','Generosity','Trust','Dystopia Residual']
df_2017['Year']=2017
df_2017.head()

,Country,Rank,Score,GDP,Family,Health,Freedom,Generosity,Trust,Dystopia Residual,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017

In [10]:
df_2018.columns=['Rank','Country','Score','GDP',
                 'Family','Health','Freedom','Generosity','Trust']
df_2018['Year']=2018
df_2018.head()

,Rank,Country,Score,GDP,Family,Health,Freedom,Generosity,Trust,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [11]:
df_2019.columns=['Rank','Country','Score','GDP',
                 'Family','Health','Freedom','Generosity','Trust']
df_2019['Year']=2019
df_2019.head()

,Rank,Country,Score,GDP,Family,Health,Freedom,Generosity,Trust,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [12]:
df_2015=df_2015.rename(columns = {'Genorisity':'Generosity'}) # Correcting a spelling mistake
df_2015.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

Concatinating dataframes that have region data.

In [13]:
frames=[df_2015,df_2016,df_2020]
combined_1 = pd.concat(frames,ignore_index=True)
print(combined_1.shape)
combined_1

(468, 12)

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.5870,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015
1,Iceland,Western Europe,2,7.5610,1.302320,1.402230,0.947840,0.628770,0.141450,0.436300,2.702010,2015
2,Denmark,Western Europe,3,7.5270,1.325480,1.360580,0.874640,0.649380,0.483570,0.341390,2.492040,2015
3,Norway,Western Europe,4,7.5220,1.459000,1.330950,0.885210,0.669730,0.365030,0.346990,2.465310,2015
4,Canada,North America,5,7.4270,1.326290,1.322610,0.905630,0.632970,0.329570,0.458110,2.451760,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
463,Central African Republic,Sub-Saharan Africa,149,3.4759,0.041072,0.000000,0.000000,0.292814,0.028265,0.253513,2.860198,2020
464,Rwanda,Sub-Saharan Africa,150,3.3123,0.343243,0.522876,0.572383,0.604088,0.485542,0.235705,0.548445,2020
465,Zimbabwe,Sub-Saharan Africa,151,3.2992,0.425564,1.047835,0.375038,0.377405,0.080929,0.151349,0.841031,2020
466,South Sudan,Sub-Saharan Africa,152,2.8166,0.289083,0.553279,0.208809,0.065609,0.111157,0.209935,1.378751,2020
467,Afghanistan,South Asia,153,2.5669,0.300706,0.356434,0.266052,0.000000,0.001226,0.135235,1.507236,2020

Mapping region data to those dataframes that doesnot contain it.

In [14]:
df_2017['Region'] = df_2017['Country'].map(df_2016.set_index('Country')['Region'])
df_2017.head()

,Country,Rank,Score,GDP,Family,Health,Freedom,Generosity,Trust,Dystopia Residual,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,Western Europe

In [15]:
df_2017=df_2017[["Country","Region","Rank","Score","GDP","Family",
                 "Health","Freedom","Trust","Generosity","Dystopia Residual","Year"]]
df_2017.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017

In [16]:
df_2018['Region'] = df_2018['Country'].map(df_2016.set_index('Country')['Region'])
df_2018.tail()

,Rank,Country,Score,GDP,Family,Health,Freedom,Generosity,Trust,Year,Region
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018,Middle East and Northern Africa
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018,Sub-Saharan Africa
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018,Sub-Saharan Africa
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018,NaN
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,Sub-Saharan Africa

In [17]:
df_2019['Region'] = df_2019['Country'].map(df_2016.set_index('Country')['Region'])
df_2019.tail()

,Rank,Country,Score,GDP,Family,Health,Freedom,Generosity,Trust,Year,Region
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019,Sub-Saharan Africa
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019,Sub-Saharan Africa
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019,Southern Asia
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019,NaN
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019,Sub-Saharan Africa

In [18]:
df_2018=df_2018[["Country","Region","Rank","Score","GDP","Family","Health","Freedom","Trust","Generosity","Year"]]
df_2018.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Year
0,Finland,Western Europe,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,2018
1,Norway,Western Europe,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,2018
2,Denmark,Western Europe,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,2018
3,Iceland,Western Europe,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,2018
4,Switzerland,Western Europe,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,2018

In [19]:
df_2019=df_2019[["Country","Region","Rank","Score","GDP","Family","Health","Freedom","Trust","Generosity","Year"]]
df_2019.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Year
0,Finland,Western Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,2019
1,Denmark,Western Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,2019
2,Norway,Western Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,2019
3,Iceland,Western Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,2019
4,Netherlands,Western Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,2019

In [20]:
df_2020.head()

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Finland,Western Europe,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835,2020
1,Denmark,Western Europe,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741,2020
2,Switzerland,Western Europe,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267,2020
3,Iceland,Western Europe,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688,2020
4,Norway,Western Europe,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266,2020

In [21]:
frames=[df_2017,df_2018,df_2019]
combined_2 = pd.concat(frames,ignore_index=True)
print(combined_2.shape)
combined_2

(467, 12)

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027,2017
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707,2017
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715,2017
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
462,Rwanda,Sub-Saharan Africa,152,3.334,0.359000,0.711000,0.614000,0.555000,0.411000,0.217000,NaN,2019
463,Tanzania,Sub-Saharan Africa,153,3.231,0.476000,0.885000,0.499000,0.417000,0.147000,0.276000,NaN,2019
464,Afghanistan,Southern Asia,154,3.203,0.350000,0.517000,0.361000,0.000000,0.025000,0.158000,NaN,2019
465,Central African Republic,NaN,155,3.083,0.026000,0.000000,0.105000,0.225000,0.035000,0.235000,NaN,2019
466,South Sudan,Sub-Saharan Africa,156,2.853,0.306000,0.575000,0.295000,0.010000,0.091000,0.202000,NaN,2019

Combining all the dataframes together.

In [22]:
frames=[combined_1,combined_2]
happiness_dataframe = pd.concat(frames,ignore_index=True)
print(happiness_dataframe.shape)
happiness_dataframe

(935, 12)

,Country,Region,Rank,Score,GDP,Family,Health,Freedom,Trust,Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
930,Rwanda,Sub-Saharan Africa,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019
931,Tanzania,Sub-Saharan Africa,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019
932,Afghanistan,Southern Asia,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019
933,Central African Republic,NaN,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019
934,South Sudan,Sub-Saharan Africa,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019

Converting the dataframe into a csv format file.

In [23]:
happiness_dataframe.to_csv('C:\Athira\Projects\Tableau\Happiness_Report.csv',index=False)